pl
    print(len($1))
im
    import 
r
    return
c
    class $1:
p
    print($1)
pd
    print(dir($1))
for
    for $1 in range($2):
        $3
i
    input()
in
    int(input())
is
    input().split()
ii
    [int(i) for i in input().split()]
is
    input().split()
main
    if __name__ == '__main__':
        
open
    with open($1, '$2') as f:
        $3
init
    def __init__(self$1):
        $2
def
    def $1($2):
        $3
