m
    fn main() {
        $1
    }
f
    fn $1($2) {
        $3
    }

fr
    fn $1($2) -> $3 {
        $4
    }
p
    println!("$1", $2);
for
    for $1 in $2 {
        $3
    }
l
    loop {
        $1
    }
